
.cardInner {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.heartButton {
    position: absolute;
    top: 16px;
    right: 16px;
}

.heartIcon {
    width: 18px;
    height: 18px;
}

.image {
    border-radius: 16px;
    height: 268px;
    width: 100%;
    object-fit: cover;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 156px;
    padding: 12px 12px 0 12px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.title {
    font-weight: 500;
    color: var(--color-black);
}

.highlight {
    color: var(--color-hover);
}

.price {
    font-weight: 500;
    color: var(--color-black);
}

.meta {
    color: var(--color-gray);
    font-size: 12px;
    margin-bottom: 4px;
}

.readMoreButton {
    margin-top: 16px;
    width: 100%;
    border-radius: 12px;
    color: var(--color-white);
    padding: 12px 99px;
    background-color: var(--color-button);
}

.readMoreButton:hover {
    background-color: var(--color-hover);
}